
body {
  background: linear-gradient(to bottom right, var(--accent-color) 0%, var(--gradient-color) 100%);
  --accent-color: #ff4f58;
  --gradient-color: #f35376;
  --placeholder-focus: #f34356;
  --primary-color: #ffffff;
  --border-color: #ffffff77;
  --background-color: #ffffff1a;
}
.container{
  color: var(--primary-color);
  font-weight: bold;
}
input, button{
  outline: 0;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  width: 90px;
  border-radius: 3px;
  padding: 10px;
  padding-right: 0;
  text-align: center;
  color: var(--primary-color);
  --placeholder-color: var(--primary-color);
  transition: 300ms;
  font-weight: bold;
}
.button {
  width: 150px;
  padding-left: 0;
  display: block;
  border-radius: 3px;
}
input:hover, button:hover {
  background-color: var(--primary-color);
  color: var(--placeholder-focus);
  --placeholder-color: var(--placeholder-focus);
}
input:focus {
  background-color: var(--primary-color);
  color: var(--placeholder-focus);
}
p a{
  color: var(--primary-color);
}
.lable{
  color: var(--primary-color);
  text-align: right;
  padding-right: 10px;
  font-weight: bold;

}
a:hover{
  background-color: white;
  transition: 300ms;
}
body ::-webkit-input-placeholder {
  color: var(--placeholder-color);
}
.black{
  --accent-color: #222222;
  --gradient-color: #272727;
  --placeholder-focus: #222222;
  --primary-color: #ffffff;
  --border-color: #ffffff77;
  --background-color: #ffffff1a;
}
.whitegreen{
  --accent-color: #f7f7ff;
  --gradient-color: #f7f7ff;
  --placeholder-focus: #ffffff;
  --primary-color: #007e39;
  --border-color: #00632c;
  --background-color: #0000;
}
.green{
  --accent-color: #007e39;
  --gradient-color: #0b804b;
  --placeholder-focus: #0f3e1e;
  --primary-color: #ffffff;
  --border-color: #ffffff77;
  --background-color: #ffffff1a;
}
.brown{
  --accent-color: #281b0d;
  --gradient-color: #332211;
  --placeholder-focus: #221100;
  --primary-color: #ffffff;
  --border-color: #ffffff77;
  --background-color: #ffffff1a;
}
.whiteblue{
  --accent-color: #ffffff;
  --gradient-color: #ffffff;
  --placeholder-focus: #ffffff;
  --primary-color: #0b4082;
  --border-color: #0b408b;
  --background-color: #0000;
}
.blue{
  --accent-color: #0b4082;
  --gradient-color: #0b408b;
  --placeholder-focus: #0f3e5e;
  --primary-color: #ffffff;
  --border-color: #ffffff77;
  --background-color: #ffffff1a;
}
.purple{
  --accent-color: #4b0082;
  --gradient-color: #8b008b;
  --placeholder-focus: #700080;
  --primary-color: #ffffff;
  --border-color: #ffffff77;
  --background-color: #ffffff1a;
}
.whitered{
  --accent-color: #ffffff;
  --gradient-color: #ffffff;
  --placeholder-focus: #ffffff;
  --primary-color: #ff4f58;
  --border-color: #f34356;
  --background-color: #0000;
}